//ş
$mdc-color-maps: (
    red: (
        50: $mdc-red-50,
        100: $mdc-red-100,
        200: $mdc-red-200,
        300: $mdc-red-300,
        400: $mdc-red-400,
        500: $mdc-red-500,
        600: $mdc-red-600,
        700: $mdc-red-700,
        800: $mdc-red-800,
        900: $mdc-red-900,
        A100: $mdc-red-A100,
        A200: $mdc-red-A200,
        A400: $mdc-red-A400,
        A700: $mdc-red-A700
    ),
    
    pink: (
        50: $mdc-pink-50,
        100: $mdc-pink-100,
        200: $mdc-pink-200,
        300: $mdc-pink-300,
        400: $mdc-pink-400,
        500: $mdc-pink-500,
        600: $mdc-pink-600,
        700: $mdc-pink-700,
        800: $mdc-pink-800,
        900: $mdc-pink-900,
        A100: $mdc-pink-A100,
        A200: $mdc-pink-A200,
        A400: $mdc-pink-A400,
        A700: $mdc-pink-A700
    ),
    
    purple: (
        50: $mdc-purple-50,
        100: $mdc-purple-100,
        200: $mdc-purple-200,
        300: $mdc-purple-300,
        400: $mdc-purple-400,
        500: $mdc-purple-500,
        600: $mdc-purple-600,
        700: $mdc-purple-700,
        800: $mdc-purple-800,
        900: $mdc-purple-900,
        A100: $mdc-purple-A100,
        A200: $mdc-purple-A200,
        A400: $mdc-purple-A400,
        A700: $mdc-purple-A700
    ),
    
    deep-purple: (
        50: $mdc-deep-purple-50,
        100: $mdc-deep-purple-100,
        200: $mdc-deep-purple-200,
        300: $mdc-deep-purple-300,
        400: $mdc-deep-purple-400,
        500: $mdc-deep-purple-500,
        600: $mdc-deep-purple-600,
        700: $mdc-deep-purple-700,
        800: $mdc-deep-purple-800,
        900: $mdc-deep-purple-900,
        A100: $mdc-deep-purple-A100,
        A200: $mdc-deep-purple-A200,
        A400: $mdc-deep-purple-A400,
        A700: $mdc-deep-purple-A700
    ),
    
    indigo: (
        50: $mdc-indigo-50,
        100: $mdc-indigo-100,
        200: $mdc-indigo-200,
        300: $mdc-indigo-300,
        400: $mdc-indigo-400,
        500: $mdc-indigo-500,
        600: $mdc-indigo-600,
        700: $mdc-indigo-700,
        800: $mdc-indigo-800,
        900: $mdc-indigo-900,
        A100: $mdc-indigo-A100,
        A200: $mdc-indigo-A200,
        A400: $mdc-indigo-A400,
        A700: $mdc-indigo-A700
    ),
    
    blue: (
        50: $mdc-blue-50,
        100: $mdc-blue-100,
        200: $mdc-blue-200,
        300: $mdc-blue-300,
        400: $mdc-blue-400,
        500: $mdc-blue-500,
        600: $mdc-blue-600,
        700: $mdc-blue-700,
        800: $mdc-blue-800,
        900: $mdc-blue-900,
        A100: $mdc-blue-A100,
        A200: $mdc-blue-A200,
        A400: $mdc-blue-A400,
        A700: $mdc-blue-A700
    ),
    
    light-blue: (
        50: $mdc-light-blue-50,
        100: $mdc-light-blue-100,
        200: $mdc-light-blue-200,
        300: $mdc-light-blue-300,
        400: $mdc-light-blue-400,
        500: $mdc-light-blue-500,
        600: $mdc-light-blue-600,
        700: $mdc-light-blue-700,
        800: $mdc-light-blue-800,
        900: $mdc-light-blue-900,
        A100: $mdc-light-blue-A100,
        A200: $mdc-light-blue-A200,
        A400: $mdc-light-blue-A400,
        A700: $mdc-light-blue-A700
    ),
    
    cyan: (
        50: $mdc-cyan-50,
        100: $mdc-cyan-100,
        200: $mdc-cyan-200,
        300: $mdc-cyan-300,
        400: $mdc-cyan-400,
        500: $mdc-cyan-500,
        600: $mdc-cyan-600,
        700: $mdc-cyan-700,
        800: $mdc-cyan-800,
        900: $mdc-cyan-900,
        A100: $mdc-cyan-A100,
        A200: $mdc-cyan-A200,
        A400: $mdc-cyan-A400,
        A700: $mdc-cyan-A700
    ),
    
    teal: (
        50: $mdc-teal-50,
        100: $mdc-teal-100,
        200: $mdc-teal-200,
        300: $mdc-teal-300,
        400: $mdc-teal-400,
        500: $mdc-teal-500,
        600: $mdc-teal-600,
        700: $mdc-teal-700,
        800: $mdc-teal-800,
        900: $mdc-teal-900,
        A100: $mdc-teal-A100,
        A200: $mdc-teal-A200,
        A400: $mdc-teal-A400,
        A700: $mdc-teal-A700
    ),
    
    green: (
        50: $mdc-green-50,
        100: $mdc-green-100,
        200: $mdc-green-200,
        300: $mdc-green-300,
        400: $mdc-green-400,
        500: $mdc-green-500,
        600: $mdc-green-600,
        700: $mdc-green-700,
        800: $mdc-green-800,
        900: $mdc-green-900,
        A100: $mdc-green-A100,
        A200: $mdc-green-A200,
        A400: $mdc-green-A400,
        A700: $mdc-green-A700
    ),
    
    light-green: (
        50: $mdc-light-green-50,
        100: $mdc-light-green-100,
        200: $mdc-light-green-200,
        300: $mdc-light-green-300,
        400: $mdc-light-green-400,
        500: $mdc-light-green-500,
        600: $mdc-light-green-600,
        700: $mdc-light-green-700,
        800: $mdc-light-green-800,
        900: $mdc-light-green-900,
        A100: $mdc-light-green-A100,
        A200: $mdc-light-green-A200,
        A400: $mdc-light-green-A400,
        A700: $mdc-light-green-A700
    ),
    
    lime: (
        50: $mdc-lime-50,
        100: $mdc-lime-100,
        200: $mdc-lime-200,
        300: $mdc-lime-300,
        400: $mdc-lime-400,
        500: $mdc-lime-500,
        600: $mdc-lime-600,
        700: $mdc-lime-700,
        800: $mdc-lime-800,
        900: $mdc-lime-900,
        A100: $mdc-lime-A100,
        A200: $mdc-lime-A200,
        A400: $mdc-lime-A400,
        A700: $mdc-lime-A700
    ),
    
    yellow: (
        50: $mdc-yellow-50,
        100: $mdc-yellow-100,
        200: $mdc-yellow-200,
        300: $mdc-yellow-300,
        400: $mdc-yellow-400,
        500: $mdc-yellow-500,
        600: $mdc-yellow-600,
        700: $mdc-yellow-700,
        800: $mdc-yellow-800,
        900: $mdc-yellow-900,
        A100: $mdc-yellow-A100,
        A200: $mdc-yellow-A200,
        A400: $mdc-yellow-A400,
        A700: $mdc-yellow-A700
    ),
    
    amber: (
        50: $mdc-amber-50,
        100: $mdc-amber-100,
        200: $mdc-amber-200,
        300: $mdc-amber-300,
        400: $mdc-amber-400,
        500: $mdc-amber-500,
        600: $mdc-amber-600,
        700: $mdc-amber-700,
        800: $mdc-amber-800,
        900: $mdc-amber-900,
        A100: $mdc-amber-A100,
        A200: $mdc-amber-A200,
        A400: $mdc-amber-A400,
        A700: $mdc-amber-A700
    ),
    
    orange: (
        50: $mdc-orange-50,
        100: $mdc-orange-100,
        200: $mdc-orange-200,
        300: $mdc-orange-300,
        400: $mdc-orange-400,
        500: $mdc-orange-500,
        600: $mdc-orange-600,
        700: $mdc-orange-700,
        800: $mdc-orange-800,
        900: $mdc-orange-900,
        A100: $mdc-orange-A100,
        A200: $mdc-orange-A200,
        A400: $mdc-orange-A400,
        A700: $mdc-orange-A700
    ),
    
    deep-orange: (
        50: $mdc-deep-orange-50,
        100: $mdc-deep-orange-100,
        200: $mdc-deep-orange-200,
        300: $mdc-deep-orange-300,
        400: $mdc-deep-orange-400,
        500: $mdc-deep-orange-500,
        600: $mdc-deep-orange-600,
        700: $mdc-deep-orange-700,
        800: $mdc-deep-orange-800,
        900: $mdc-deep-orange-900,
        A100: $mdc-deep-orange-A100,
        A200: $mdc-deep-orange-A200,
        A400: $mdc-deep-orange-A400,
        A700: $mdc-deep-orange-A700
    ),
    
    brown: (
        50: $mdc-brown-50,
        100: $mdc-brown-100,
        200: $mdc-brown-200,
        300: $mdc-brown-300,
        400: $mdc-brown-400,
        500: $mdc-brown-500,
        600: $mdc-brown-600,
        700: $mdc-brown-700,
        800: $mdc-brown-800,
        900: $mdc-brown-900
    ),
    
    grey: (
        50: $mdc-grey-50,
        100: $mdc-grey-100,
        200: $mdc-grey-200,
        300: $mdc-grey-300,
        400: $mdc-grey-400,
        500: $mdc-grey-500,
        600: $mdc-grey-600,
        700: $mdc-grey-700,
        800: $mdc-grey-800,
        900: $mdc-grey-900
    ),
    
    blue-grey: (
        50: $mdc-blue-grey-50,
        100: $mdc-blue-grey-100,
        200: $mdc-blue-grey-200,
        300: $mdc-blue-grey-300,
        400: $mdc-blue-grey-400,
        500: $mdc-blue-grey-500,
        600: $mdc-blue-grey-600,
        700: $mdc-blue-grey-700,
        800: $mdc-blue-grey-800,
        900: $mdc-blue-grey-900
    )
);
